@model LibraryModel.Models.Room

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Floor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Floor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hotel.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hotel.Name)
        </dd>
        <dt class="col-sm-2"> 
            @Html.DisplayNameFor(model => model.Bookings) 
        </dt>
        <dd class="col-sm-10"> 
            <table class="table"> 
                <tr> 
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>CheckInDate</th>
                    <th>CheckOutDate</th>
                </tr> @foreach (var item in Model.Bookings)
                {
                    <tr> 
                        <td> @Html.DisplayFor(modelItem => item.Guest.FirstName) </td>
                        <td> @Html.DisplayFor(modelItem => item.Guest.LastName) </td>
                        <td> @Html.DisplayFor(modelItem => item.CheckInDate) </td>
                        <td> @Html.DisplayFor(modelItem => item.CheckOutDate) </td>
                    </tr>
                } 
            </table> 
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RoomID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
