@model Proiect.Models.Guest

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Guest</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bookings)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>HotelName</th>
                    <th>RoomNumber</th>
                    <th>CheckInDate</th>
                    <th>CheckOutDate</th>
                </tr> @foreach (var item in Model.Bookings)
                {
                    <tr>
                        <td> @Html.DisplayFor(modelItem => item.Room.Hotel.Name) </td>
                        <td> @Html.DisplayFor(modelItem => item.Room.Number) </td>
                        <td> @Html.DisplayFor(modelItem => item.CheckInDate) </td>
                        <td> @Html.DisplayFor(modelItem => item.CheckOutDate) </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.GuestID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
