@model LibraryModel.Models.Staff

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Staff</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaffName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaffJob)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffJob)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaffAdress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffAdress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaffPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffPhoneNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.StaffID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
